
<app-slider></app-slider>

<app-urgentcauses></app-urgentcauses>

<section class="get-envolved-area">
    <div class="container">
        <div class="section-heading section-padding">
             <h2><span>WANT TO HELP OTHERS</span>GET INVOLVED</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="get-envolved-item first-item">
                    <div class="envolped-top">
                        <div class="text"><span>DONATE</span></div>
                    </div>
                    <div class="content">
                        <h3><a href="#">BECOME A DONATOR</a></h3>
                        <p>Nam sollicitudin libero eu diam faucibus, sit amet hendrerit scelerisqususcipit.</p>
                    </div>
                </div><!--/.get-envolved-item-->
            </div>
            <div class="col-md-4">
                <div class="get-envolved-item second-item">
                    <div class="envolped-top">
                        <div class="text"><span>FUNDRAISE</span></div>
                    </div>
                    <div class="content">
                        <h3><a href="#">BECOME A DONATOR</a></h3>
                        <p>Nam sollicitudin libero eu diam faucibus, sit amet hendrerit scelerisqususcipit.</p>
                    </div>
                </div><!--/.get-envolved-item-->
            </div>
            <div class="col-md-4">
                <div class="get-envolved-item third-item">
                    <div class="envolped-top">
                        <div class="text"><span>VOLUNTEER</span></div>
                    </div>
                    <div class="content">
                        <h3><a href="#">BECOME A DONATOR</a></h3>
                        <p>Nam sollicitudin libero eu diam faucibus, sit amet hendrerit scelerisqususcipit.</p>
                    </div>
                </div><!--/.get-envolved-item-->
            </div>
        </div>
    </div>
</section><!--/.get-envolved-area-->


<app-recentcauses></app-recentcauses>


<section class="upcaming-event-area">
    <div class="container">
         <div class="section-heading section-padding">
             <h2><span>KNOW AND COME TO JOIN OUR</span>UPCOMING EVENTS</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="upcomming-event-item">
                    <div class="image">
                        <img
                          [defaultImage]="'/assets/images/grayimageplaceholder.png'"
                          [lazyLoad]="'/assets/images/home/8.jpg'"
                          [offset]="offset"
                          class="img-responsive"
                          alt="upcomming"
                          >
                        <span><i class="ion-android-arrow-forward"></i></span>
                    </div>
                    <div class="event-text text-center">
                        <h3><a href="#">CHILDREN OF SOCIETY</a></h3>
                        <p>Estibulum at maximus neque. Etiam interdum fermentum dolor, eget placerat lorem.</p>
                        <div class="event-counter">
                            <div id="event-one-counter"></div>
                        </div>
                    </div>
                    <div class="event-place-ticket">
                        <div class="place">
                            <strong>PLACE:</strong>
                            EASTER COAST HOTEL, CA
                        </div>
                        <div class="ticket">
                            <strong>TICKET:</strong>
                            FREE OF COST
                        </div>
                        <div class="clear"></div>
                    </div>
                </div><!--/.upcomming-event-item-->
            </div>
            <div class="col-md-4">
                <div class="upcomming-event-item">
                    <div class="image">
                        <img
                          [defaultImage]="'/assets/images/grayimageplaceholder.png'"
                          [lazyLoad]="'/assets/images/home/9.jpg'"
                          [offset]="offset"
                          class="img-responsive"
                          alt="upcomming">
                        <span><i class="ion-android-arrow-forward"></i></span>
                    </div>
                    <div class="event-text text-center">
                        <h3><a href="#">CHILDREN OF SOCIETY</a></h3>
                        <p>Estibulum at maximus neque. Etiam interdum fermentum dolor, eget placerat lorem.</p>
                        <div class="event-counter">
                            <div id="event-two-counter"></div>
                        </div>
                    </div>
                    <div class="event-place-ticket">
                        <div class="place">
                            <strong>PLACE:</strong>
                            EASTER COAST HOTEL, CA
                        </div>
                        <div class="ticket">
                            <strong>TICKET:</strong>
                            FREE OF COST
                        </div>
                        <div class="clear"></div>
                    </div>
                </div><!--/.upcomming-event-item-->
            </div>
            <div class="col-md-4">
                <div class="upcomming-event-item">
                    <div class="image">
                        <img
                          [defaultImage]="'/assets/images/grayimageplaceholder.png'"
                          [lazyLoad]="'/assets/images/home/10.jpg'"
                          [offset]="offset"
                          class="img-responsive"
                          alt="upcomming"
                          >
                        <span><i class="ion-android-arrow-forward"></i></span>
                    </div>
                    <div class="event-text text-center">
                        <h3><a href="#">CHILDREN OF SOCIETY</a></h3>
                        <p>Estibulum at maximus neque. Etiam interdum fermentum dolor, eget placerat lorem.</p>
                        <div class="event-counter">
                            <div id="event-three-counter"></div>
                        </div>
                    </div>
                    <div class="event-place-ticket">
                        <div class="place">
                            <strong>PLACE:</strong>
                            EASTER COAST HOTEL, CA
                        </div>
                        <div class="ticket">
                            <strong>TICKET:</strong>
                            FREE OF COST
                        </div>
                        <div class="clear"></div>
                    </div>
                </div><!--/.upcomming-event-item-->
            </div>
        </div>
        <div class="all-causes-page text-center ">Do you want learn more about our all causes. Please visit <a href="#">all events page</a>.</div>
    </div>
</section><!--/.upcaming-event-area-->


<app-differencemaking></app-differencemaking>



<section class="recent-news-area">
    <div class="container">
        <div class="section-heading section-padding">
             <h2><span>READ OUR EXCITING</span>RECENT NEWS</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="news-item">
                    <div class="image">
                        <img
                          [defaultImage]="'/assets/images/grayimageplaceholder.png'"
                          [lazyLoad]="'/assets/images/home/12.jpg'"
                          [offset]="offset"
                          class="img-responsive"
                          alt="news">
                        <div class="news-date-circle">
                             <span>4</span>
                            February
                            2017
                        </div>
                    </div>
                    <div class="news-text">
                        <h3><a href="#">The Fisher House Child</a></h3>
                        <span class="yellow-bg author-name">admin</span>
                        <p>Donec venenatis metus at diam condimentum pretium. Integer aliquet a turpis.</p>
                    </div>
                    <a href="#" class="read-more-icon"><span>+</span></a>
                </div><!--/.news-item-->
            </div>
            <div class="col-md-4">
                <div class="news-item">
                    <div class="image">
                        <img
                          [defaultImage]="'/assets/images/grayimageplaceholder.png'"
                          [lazyLoad]="'/assets/images/home/13.jpg'"
                          [offset]="offset"
                          class="img-responsive"
                          alt="news"
                          >
                        <div class="news-date-circle">
                            <span>4</span>
                            February
                            2017
                        </div>
                    </div>
                    <div class="news-text">
                        <h3><a href="#">The Fisher House Child</a></h3>
                        <span class="yellow-bg author-name">admin</span>
                        <p>Donec venenatis metus at diam condimentum pretium. Integer aliquet a turpis.</p>
                    </div>
                    <a href="#" class="read-more-icon"><span>+</span></a>
                </div><!--/.news-item-->
            </div>
            <div class="col-md-4">
                <div class="news-item">
                    <div class="image">
                        <img
                          [defaultImage]="'/assets/images/grayimageplaceholder.png'"
                          [lazyLoad]="'/assets/images/home/13.jpg'"
                          [offset]="offset"
                          class="img-responsive"
                          alt="news"
                          >
                        <div class="news-date-circle">
                            <span>4</span>
                            February
                            2017
                        </div>
                    </div>
                    <div class="news-text">
                        <h3><a href="#">The Fisher House Child</a></h3>
                        <span class="yellow-bg author-name">admin</span>
                        <p>Donec venenatis metus at diam condimentum pretium. Integer aliquet a turpis.</p>
                    </div>
                    <a href="#" class="read-more-icon"><span>+</span></a>
                </div><!--/.news-item-->
            </div>
        </div>
    </div>
</section><!--/.recent-news-area-->
<div class="subscribe-box-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
                    <p>There are lots of valueable information around the world,We help
                    you to know the unknown. </p>
                </div>
                <div class="subscribe-box">
                    <input type="email" class="form-control subscribe-input-field" placeholder="Your Email Address">
                    <button type="submit" class="form-control submit-button"><span>SEND</span> <i class="ion-android-arrow-forward"></i></button>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div><!--/.recent-news-area-->
