
<app-slider></app-slider>

<app-urgentcauses></app-urgentcauses>



<section class="upcaming-event-area">
    <div class="container">
         <div class="section-heading section-padding">
             <h2><span>Son Projelerimiz</span>Son Etkinlikler</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="upcomming-event-item">
                    <div class="image">
                        <img
                          src="/assets/images/home/8.jpg"
                          class="img-responsive"
                          alt="upcomming"
                          >
                        <span><i class="ion-android-arrow-forward"></i></span>
                    </div>
                    <div class="event-text text-center">
                        <h3><a href="#">CHILDREN OF SOCIETY</a></h3>
                        <p>Estibulum at maximus neque. Etiam interdum fermentum dolor, eget placerat lorem.</p>
                        <div class="event-counter">
                            <div id="event-one-counter"></div>
                        </div>
                    </div>

                </div><!--/.upcomming-event-item-->
            </div>
            <div class="col-md-4">
                <div class="upcomming-event-item">
                    <div class="image">
                        <img
                          src="/assets/images/home/8.jpg"
                          class="img-responsive"
                          alt="upcomming">
                        <span><i class="ion-android-arrow-forward"></i></span>
                    </div>
                    <div class="event-text text-center">
                        <h3><a href="#">CHILDREN OF SOCIETY</a></h3>
                        <p>Estibulum at maximus neque. Etiam interdum fermentum dolor, eget placerat lorem.</p>
                        <div class="event-counter">
                            <div id="event-two-counter"></div>
                        </div>
                    </div>

                </div><!--/.upcomming-event-item-->
            </div>
            <div class="col-md-4">
                <div class="upcomming-event-item">
                    <div class="image">
                        <img
                          src="/assets/images/home/8.jpg"
                          class="img-responsive"
                          alt="upcomming"
                          >
                        <span><i class="ion-android-arrow-forward"></i></span>
                    </div>
                    <div class="event-text text-center">
                        <h3><a href="#">CHILDREN OF SOCIETY</a></h3>
                        <p>Estibulum at maximus neque. Etiam interdum fermentum dolor, eget placerat lorem.</p>
                        <div class="event-counter">
                            <div id="event-three-counter"></div>
                        </div>
                    </div>

                </div><!--/.upcomming-event-item-->
            </div>
        </div>
        <div class="all-causes-page text-center ">Do you want learn more about our all causes. Please visit <a href="#">all events page</a>.</div>
    </div>
</section><!--/.upcaming-event-area-->


<section class="recent-news-area" style="margin-top: -100px;">
    <div class="container">
        <div class="section-heading section-padding">
             <h2><span>Son Habarler</span>DUYURULAR</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="news-item">
                    <div class="image">
                    </div>
                    <div class="news-text">
                        <h3><a href="#">The Fisher House Child</a></h3>

                        <p>Donec venenatis metus at diam condimentum pretium. Integer aliquet a turpis.</p>
                    </div>
                    <a href="#" class="read-more-icon"><span>+</span></a>
                </div><!--/.news-item-->
            </div>
            <div class="col-md-4">
                <div class="news-item">
                    <div class="image">

                    </div>
                    <div class="news-text">
                        <h3><a href="#">The Fisher House Child</a></h3>

                        <p>Donec venenatis metus at diam condimentum pretium. Integer aliquet a turpis.</p>
                    </div>
                    <a href="#" class="read-more-icon"><span>+</span></a>
                </div><!--/.news-item-->
            </div>
            <div class="col-md-4">
                <div class="news-item">
                    <div class="image">

                    </div>
                    <div class="news-text">
                        <h3><a href="#">The Fisher House Child</a></h3>

                        <p>Donec venenatis metus at diam condimentum pretium. Integer aliquet a turpis.</p>
                    </div>
                    <a href="#" class="read-more-icon"><span>+</span></a>
                </div><!--/.news-item-->
            </div>
        </div>
    </div>
</section><!--/.recent-news-area-->

<app-differencemaking></app-differencemaking>
