<section class="urgent-causes-area ash-white-bg">
    <div class="container">
        <div class="section-heading section-padding pdb55">
            <h2><span> HELP US TO ACHIEVE OUR</span>URGENT CAUSES</h2>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="urgent-causes">
                    <h3>BUILDING SCHOOL IN AFRICAN COMMUNITIES.</h3>
                    <p>
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hime naeos. Nam sollicitudin nibh sit amet accumsan lacinia. Praesent sceleris que lectus eu sodales imperdiet. Duis vel luctus sapien.
                    </p>
                    <div class="collection-rate">

                      <div class="fund">
                          <div class="text">
                              $500
                              <span>Raised by your help</span>
                          </div>
                      </div>

                        <div class="fund">
                            <div class="icon">
                                <i class="ion-android-arrow-forward"></i>
                            </div>
                            <div class="text">
                                $500
                                <span>Raised by your help</span>
                            </div>
                        </div>
                        <div class="fund">
                            <div class="icon">
                                <i class="ion-android-arrow-forward"></i>
                            </div>
                            <div class="text">
                                $1000
                                <span>Our initial target</span>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <a href="#" class="sune-btn orange-bg">DONATE <i class="fa fa-heart"></i></a>
                    <a href="#" class="sune-btn black-bg">DETAILS <i class="ion-android-arrow-forward"></i></a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="urgent-causes-image">
                    <div class="images big-image">
                        <img src="/assets/images/home/3.jpg" class="img-responsive img-circle" alt="causes">
                    </div>
                    <div class="images middum-image">
                        <img src="/assets/images/home/2.jpg" class="img-responsive img-circle" alt="causes">
                    </div>
                    <div class="images small-image">
                        <img src="/assets/images/home/4.jpg" class="img-responsive img-circle" alt="causes">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/.urgent-causes-area-->
