

<section class="recent-causes-area ash-white-bg">
    <div class="container">
        <div class="section-heading section-padding">
             <h2><span>LEARN MORE ABOUT OUR</span>RECENT CAUSES</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="recent-causes-item">
                  <div class="recent-causes-progressbar">
                    <img class="recent-causes-progressbar-img" src="https://media.children.org/cdn-8d444fdea239e20/globalassets/00_home-page/holiday-home-page/how-you-help5.jpg" alt="">
                    <div class="recent-causes-progressbar-overlay"></div>
                  </div>
                     <div class="raised-targent"><span>RAISED: $764</span><span class="pull-right">TARGET: $1500</span></div>
                     <div class="recent-causes-text text-center">
                         <h3><a href="#">CONNECTING THE PEOPLE</a></h3>
                         <p>Nam sollicitudin libero eudiam faucibus sit amet hendrerit sceleris qususci pitsit amethe ndrerit scelerisqususcipit.</p>
                         <a href="#" class="sune-btn orange-bg">DONATE <i class="fa fa-heart"></i></a>
                     </div>
                </div><!--/.recent-causes-item-->
            </div>
            <div class="col-md-4">
                <div class="recent-causes-item">
                     <div class="recent-causes-progressbar">
                       <img class="recent-causes-progressbar-img" src="https://media.children.org/cdn-8d444fdea239e20/globalassets/00_home-page/holiday-home-page/how-you-help5.jpg" alt="">
                       <div class="recent-causes-progressbar-overlay"></div>
                     </div>
                     <div class="raised-targent"><span>RAISED: $764</span><span class="pull-right">TARGET: $1500</span></div>
                     <div class="recent-causes-text text-center">
                         <h3><a href="#">CONNECTING THE PEOPLE</a></h3>
                         <p>Nam sollicitudin libero eudiam faucibus sit amet hendrerit sceleris qususci pitsit amethe ndrerit scelerisqususcipit.</p>
                         <a href="#" class="sune-btn orange-bg">DONATE <i class="fa fa-heart"></i></a>
                     </div>
                </div><!--/.recent-causes-item-->
            </div>
            <div class="col-md-4">
                <div class="recent-causes-item">
                  <div class="recent-causes-progressbar">
                    <img class="recent-causes-progressbar-img" src="https://media.children.org/cdn-8d444fdea239e20/globalassets/00_home-page/holiday-home-page/how-you-help5.jpg" alt="">
                    <div class="recent-causes-progressbar-overlay"></div>
                  </div>
                     <div class="raised-targent"><span>RAISED: $764</span><span class="pull-right">TARGET: $1500</span></div>
                     <div class="recent-causes-text text-center">
                         <h3><a href="#">CONNECTING THE PEOPLE</a></h3>
                         <p>Nam sollicitudin libero eudiam faucibus sit amet hendrerit sceleris qususci pitsit amethe ndrerit scelerisqususcipit.</p>
                         <a href="#" class="sune-btn orange-bg">DONATE <i class="fa fa-heart"></i></a>
                     </div>
                </div><!--/.recent-causes-item-->
            </div>
        </div>
        <div class="all-causes-page text-center ">Do you want learn more about our all causes. Please visit <a href="#">all causes page</a>.</div>
    </div>
</section><!--/.recent-causes-area-->
