<div class="error-page-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-page-content">
                    <div class="error-text">404<span>!</span></div>
                    <div class="error-page-menu">
                        <ul>
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">ABOUT</a></li>
                            <li><a href="#">FAQ PAGE</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
