
<div class="blog-list-body mt50 pdb90">
   <div class="container">
       <div class="row">
          <div class="col-md-12 text-center" style="margin-bottom: 50px;">
            <h2>Projeler</h2>
          </div>
           <div class="col-md-9">

               <div class="blog-list-item" *ngFor="let proje of projeler; let pIndex = index;">
                   <div class="image">
                       <img [src]="apiMediaEndpoint + proje.proje_resim" class="img-responsive" alt="blog image">
                   </div>
                   <div class="meta-box">
                   </div>
                   <div class="blog-list-text">
                       <h3><a [routerLink]="['/proje', proje.id, proje.proje_slug]">{{ proje.proje_baslik }}</a></h3>
                       <p>{{ proje.proje_icerik |convertHtmlToText | slice:0:600 }}</p>
                       <a [routerLink]="['/proje', proje.id, proje.proje_slug]" class="blog-read-more-button">Daha Fazlasını Oku <i class="ion-android-arrow-forward"></i></a>
                   </div>
               </div><!--/.blog-list-item-->


               <ul class="sune-pagination">

                   <li *ngIf="(currentPage - 1) !== 0">
                     <a [routerLink]="['/projeler', (currentPage-1)]">
                       <i class="fa fa-long-arrow-left"></i>
                       ÖNCEKİ
                     </a>
                   </li>

                   <li *ngFor="let page of totalPageArray; let iPage = index;">
                     <a [routerLink]="['/projeler', (iPage + 1)]" routerLinkActive="active">{{ iPage + 1 }}</a>
                   </li>

                   <li *ngIf="currentPage != totalPageNumber">
                     <a [routerLink]="['/projeler', (currentPage+1)]">SONRAKİ
                       <i class="fa fa-long-arrow-right"></i>
                     </a>
                   </li>

               </ul>
           </div>
           <div class="col-md-3">
               <div class="sidebar">

                   <aside class="blog-page-popular-post">
                       <div class="border-heading">
                           <h4>Son Projeler</h4>
                       </div>
                       <div class="row">

                           <div class="col-md-12" *ngFor="let proje of projeler; let pIndex = index;">
                               <div class="popular-post">
                                   <div class="image">
                                       <img [src]="apiMediaEndpoint + proje.proje_resim" class="img-responsive" alt="causes">
                                   </div>
                                   <div class="meta-box">

                                   </div>
                                   <h5><a [routerLink]="['/proje', proje.id, proje.proje_slug]">{{ proje.proje_baslik }}</a></h5>
                                   <p>{{ proje.proje_icerik | convertHtmlToText | slice:0:100 }}...</p>
                               </div><!--/.popular-post -->
                           </div>
                       </div>
                   </aside>

               </div>
           </div>
       </div>
   </div>
</div>
