<section class="deference-making-area ash-white-bg">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-6 pdr0 pdl0 deneme-container">
                <div class="image">
                    <img
                      [defaultImage]="''"
                      [lazyLoad]="'/assets/images/home/11.jpg'"
                      [offset]="offset"
                      class="img-responsive"
                      alt="makigng deference">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="diference-making-text">
                    <h2>Oluşturduğumuz Farklılıklar</h2>
                    <p>Başak Kültür Vakfı olarak çocuğun ve toplumdaki bireylerin sanatla bağlarını geliştirmek ve 'eğitim, kültür, sanat' yolu ile toplumu oluşturan bireylerin daha bilinç düzeyini artırmayı amaçlıyoruz.</p>
                    <p>Başak Kültür Vakfı, sosyoekonomik düzeyi düşük olan çocukların eğitim hayatlarına entegre olamama, sosyal güvenlikten mahrum kalma gibi sorunlarını çözebilecek projeler geliştirir ve adımlar atar.</p>
                </div>
            </div>
        </div>
    </div>
</section><!--/.deference-making-area-->
