<section class="deference-making-area ash-white-bg">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-6 pdr0 pdl0 deneme-container">
                <div class="image">
                    <img
                      [defaultImage]="''"
                      [lazyLoad]="'/assets/images/home/11.jpg'"
                      [offset]="offset"
                      class="img-responsive"
                      alt="makigng deference">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="diference-making-text">
                    <h2>DIFFERENCE WE ARE MAKING</h2>
                    <p>Pellentesque sollicitudin fringilla orci, ullamcorper ultrices sapien elementum facilisis. Mauris dictum metus sed libero egestas, ut hendrerit massa gravida.</p>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="deference-making-item">
                                <div class="icon">
                                    <img
                                      [defaultImage]="''"
                                      [lazyLoad]="'/assets/images/home/icon/4.png'"
                                      [offset]="offset"
                                      alt="icon">
                                </div>
                                <div class="text">
                                    <span class="orange">$8765</span>
                                    People Contribution
                                </div>
                                <div class="clear"></div>
                            </div><!--/.deference-making-item-->
                        </div>
                        <div class="col-xs-4">
                            <div class="deference-making-item">
                                <div class="icon">
                                    <img src="/assets/images/home/icon/5.png" alt="icon">
                                </div>
                                <div class="text">
                                    <span class="orange">5847</span>
                                    Volunteer Reached
                                </div>
                                <div class="clear"></div>
                            </div><!--/.deference-making-item-->
                        </div>
                        <div class="col-xs-4">
                            <div class="deference-making-item">
                                <div class="icon">
                                    <img src="/assets/images/home/icon/6.png" alt="icon">
                                </div>
                                <div class="text">
                                    <span class="orange">54</span>
                                    Successful Project
                                </div>
                                <div class="clear"></div>
                            </div><!--/.deference-making-item-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/.deference-making-area-->
