<app-slider></app-slider>

<app-urgentcauses></app-urgentcauses>

<section class="upcaming-event-area">
  <div class="container">
    <div class="section-heading section-padding">
      <h2><span>Son Etkinlikler</span>Son Projelerimiz</h2>
    </div>
    <div class="row">
      <ng-container *ngFor="let proje of projeler; let pIndex = index">
        <div *ngIf="pIndex < 3" class="col-md-4">
          <div class="upcomming-event-item">
            <div class="event-text text-center">
              <h3>
                <a href="#">{{ proje.title }}</a>
              </h3>
              <p>{{ proje.summary | slice: 0:80 }}...</p>
              <div class="event-counter">
                <div id="event-one-counter"></div>
              </div>
            </div>
          </div>
          <!--/.upcomming-event-item-->
        </div>
      </ng-container>
    </div>
    <div class="all-causes-page text-center ">
      Tüm Projelerimiz Hakkında Detaylı Bilgi Almak İçin Lütfen
      <a routerLink="projeler/1">Projelerimiz </a>Sayfasını Ziyaret Edin.
    </div>
  </div>
</section>
<!--/.upcaming-event-area-->

<section class="recent-news-area" style="margin-top: -100px;">
  <div class="container">
    <div class="section-heading section-padding">
      <h2><span>Son Habarler</span>DUYURULAR</h2>
    </div>
    <div class="row">
      <ng-container *ngFor="let duyuru of duyurular; let dIndex = index">
        <div *ngIf="dIndex < 3" class="col-md-4">
          <div class="news-item">
            <div class="image"></div>
            <div class="news-text">
              <h3>
                <a>{{ duyuru.duyuru_baslik }}</a>
              </h3>

              <p>{{ duyuru.duyuru_mesaj }}</p>
            </div>
            <a class="read-more-icon"><span>+</span></a>
          </div>
          <!--/.news-item-->
        </div>
      </ng-container>
    </div>
  </div>
</section>
<!--/.recent-news-area-->

<app-differencemaking></app-differencemaking>
