<div class="menu-area ash-white-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <nav class="menuzord menuzord-responsive">
                          <a (click)="changeMenuState()" class="showhide menu-toggle-bar"><span></span></a>

                           <ul *ngIf="menuOpen" [@changeMenuState]="'menuOpened'" class="menuzord-menu">
                               <li><a [routerLinkActiveOptions]="{ exact: true }" routerLink="/" routerLinkActive="active">Ana Sayfa</a></li>
                               <li><a routerLink="/hakkimizda" routerLinkActive="active">Hakkımızda</a></li>
                               <li><a href="causes.html">CAUSES</a></li>
                               <li><a href="event-list.html">EVENTS</a></li>
                               <li ><a routerLink="/bize-ulasin" routerLinkActive="active">Bİze Ulaşın</a></li>
                               <li><a href="#">PAGES</a></li>
                           </ul>
                       </nav>

                       <!-- Stays for layout. -->
                       <div style="display: none" class="search-box">
                            <div class="top-search-input-wrap">
                            </div>
                        </div><!--/.search-box -->
                      </div>


                    <div class="col-md-3">
                        <div class="social-icon text-right">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
