<div class="menu-area ash-white-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <nav class="menuzord menuzord-responsive">
                          <a (click)="changeMenuState()" class="showhide menu-toggle-bar"><span></span></a>

                           <ul *ngIf="menuOpen" [@changeMenuState]="'menuOpened'" class="menuzord-menu">
                               <li><a href="index.html" class="active">Home</a></li>
                               <li><a href="about.html">ABOUT</a></li>
                               <li><a href="causes.html">CAUSES</a>
                                   <ul class="dropdown">
                                       <li><a href="causes-detail.html">CAUSES DETAIL</a></li>
                                   </ul>
                               </li>
                               <li><a href="event-list.html">EVENTS</a>
                                   <ul class="dropdown">
                                       <li><a href="event-detail.html">EVENT DETAIL</a>
                                       <li><a href="event-calender.html">EVENT CALENDER</a></li>
                                   </ul>
                               </li>
                               <li ><a href="contact-us.html">CONTACT US</a></li>
                               <li><a href="#">PAGES</a>
                                   <ul class="dropdown">
                                       <li><a href="blog-list.html">BLOG LIST</a></li>
                                       <li><a href="blog-detail.html">BLOG DETAIL</a></li>
                                       <li><a href="donate-page.html">DONATE PAGE</a></li>
                                       <li><a href="shop.html">SHOP PAGE</a></li>
                                       <li><a href="shop-detail.html">SHOP DETAIL</a></li>
                                       <li><a href="error.html">404 PAGE</a></li>
                                   </ul>
                               </li>
                           </ul>
                       </nav>

                       <!-- Stays for layout. -->
                       <div style="display: none" class="search-box">
                            <div class="top-search-input-wrap">
                            </div>
                        </div><!--/.search-box -->
                      </div>


                    <div class="col-md-3">
                        <div class="social-icon text-right">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
