

<section class="recent-causes-area ash-white-bg">
    <div class="container">
        <div class="section-heading section-padding">
             <h2><span>Destek Olanlar</span>GÖNÜLLÜLERİMİZ</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="recent-causes-item">
                  <div class="recent-causes-progressbar">
                    <img class="recent-causes-progressbar-img" src="https://media.children.org/cdn-8d444fdea239e20/globalassets/00_home-page/holiday-home-page/how-you-help5.jpg" alt="">
                    <div class="recent-causes-progressbar-overlay"></div>
                  </div>
                     <div class="recent-causes-text text-center">
                         <h3><a href="#">Işın Subaşı</a></h3>
                         <p>Nam sollicitudin libero eudiam faucibus sit amet hendrerit sceleris qususci pitsit amethe ndrerit scelerisqususcipit.</p>
                     </div>
                </div><!--/.recent-causes-item-->
            </div>
            <div class="col-md-4">
                <div class="recent-causes-item">
                     <div class="recent-causes-progressbar">
                       <img class="recent-causes-progressbar-img" src="https://media.children.org/cdn-8d444fdea239e20/globalassets/00_home-page/holiday-home-page/how-you-help5.jpg" alt="">
                       <div class="recent-causes-progressbar-overlay"></div>
                     </div>
                     <div class="recent-causes-text text-center">
                         <h3><a href="#">Dilan Şahin</a></h3>
                         <p>Nam sollicitudin libero eudiam faucibus sit amet hendrerit sceleris qususci pitsit amethe ndrerit scelerisqususcipit.</p>
                     </div>
                </div><!--/.recent-causes-item-->
            </div>
            <div class="col-md-4">
                <div class="recent-causes-item">
                  <div class="recent-causes-progressbar">
                    <img class="recent-causes-progressbar-img" src="https://media.children.org/cdn-8d444fdea239e20/globalassets/00_home-page/holiday-home-page/how-you-help5.jpg" alt="">
                    <div class="recent-causes-progressbar-overlay"></div>
                  </div>
                     <div class="recent-causes-text text-center">
                         <h3><a href="#">Berfin Güven</a></h3>
                         <p>Nam sollicitudin libero eudiam faucibus sit amet hendrerit sceleris qususci pitsit amethe ndrerit scelerisqususcipit.</p>
                     </div>
                </div><!--/.recent-causes-item-->
            </div>
            <div class="col-md-4">
                <div class="recent-causes-item">
                  <div class="recent-causes-progressbar">
                    <img class="recent-causes-progressbar-img" src="https://media.children.org/cdn-8d444fdea239e20/globalassets/00_home-page/holiday-home-page/how-you-help5.jpg" alt="">
                    <div class="recent-causes-progressbar-overlay"></div>
                  </div>
                     <div class="recent-causes-text text-center">
                         <h3><a href="#">Dicle Kuas</a></h3>
                         <p>Nam sollicitudin libero eudiam faucibus sit amet hendrerit sceleris qususci pitsit amethe ndrerit scelerisqususcipit.</p>
                     </div>
                </div><!--/.recent-causes-item-->
            </div>
            <div class="col-md-4">
                <div class="recent-causes-item">
                  <div class="recent-causes-progressbar">
                    <img class="recent-causes-progressbar-img" src="https://media.children.org/cdn-8d444fdea239e20/globalassets/00_home-page/holiday-home-page/how-you-help5.jpg" alt="">
                    <div class="recent-causes-progressbar-overlay"></div>
                  </div>
                     <div class="recent-causes-text text-center">
                         <h3><a href="#">Erkan</a></h3>
                         <p>Nam sollicitudin libero eudiam faucibus sit amet hendrerit sceleris qususci pitsit amethe ndrerit scelerisqususcipit.</p>
                     </div>
                </div><!--/.recent-causes-item-->
            </div>
            <div class="col-md-4">
                <div class="recent-causes-item">
                  <div class="recent-causes-progressbar">
                    <img class="recent-causes-progressbar-img" src="https://media.children.org/cdn-8d444fdea239e20/globalassets/00_home-page/holiday-home-page/how-you-help5.jpg" alt="">
                    <div class="recent-causes-progressbar-overlay"></div>
                  </div>
                     <div class="recent-causes-text text-center">
                         <h3><a href="#">Fatoş</a></h3>
                         <p>Nam sollicitudin libero eudiam faucibus sit amet hendrerit sceleris qususci pitsit amethe ndrerit scelerisqususcipit.</p>
                     </div>
                </div><!--/.recent-causes-item-->
            </div>
        </div>
    </div>
</section><!--/.recent-causes-area-->
