<section class="deference-making-area ash-white-bg">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-6 pdr0 pdl0 deneme-container">
                <div class="image">
                    <img
                      src="assets/images/Basak Kültür ve Sanat VakFI.jpg"
                      class="img-responsive"
                      alt="makigng deference">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="diference-making-text">
                    <h2>Oluşturduğumuz Farklılıklar</h2>
                    <p>Sanatın dönüştürücü gücünü kullanarak kırılgan mahallelerde yaşayan çocukların ve gençlerin fırsatlara eşitçe ulaşmasını hedefleyen bir sivil toplum kuruluşuyuz. Hedef grubumuzdaki çocuk ve gençlerin mevcut sorunlarını tespit etmek, çözüm üretmek, çözüm kanallarını açmak amacıyla sanatsal aktiviteler gerçekleştiriyoruz.</p>
                    <p>Bu aktivitelerle çocukların kendilerini ifade etme, yaratıcılıklarını geliştirme, toplumsal yaşama dâhil olma, doğayla, sosyal çevreyle bütünleşme, kendilerini başkalarının yerine koyma, farklılıkları anlama ve farklı olana saygıyı duyma gibi evrensel değerlere katkı sunmayı hedefliyoruz.</p>
                </div>
            </div>
        </div>
    </div>
</section><!--/.deference-making-area-->
