<section class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-title">
                    <h1>Başak Sanat Vakfı Tarihi<span>Başak Sanat Vakfı ile Geçmişten Bugüne Sanat</span></h1>
                </div>
                <ul class="bread-crumb">
                    <li><a [routerLink]="['/']">Ana Sayfa</a></li>
                    <li><a [routerLink]="['/tarihce']">Tarihçemiz</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="know-me-about-us pdb80 ash-white-bg">
    <div class="container">
        <div class="section-heading section-padding">
            <h2><span>TARİHÇE</span>Tarihçemiz</h2>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="about-us">
                    <h3>Nasıl Başladık?</h3>
                    <p>
                      2002 yılında Merkezi İstanbul Kayışdağı&#39;nda kurulan Başak Kültür ve Sanat Vakfı, özellikle çocukları
                      ve gençleri, yoksulluğun ve göçün olumsuz etkilerinden koruma çabasının ürünü olarak ortaya çıkmış
                      bir kurumdur. BSV 15 yılık tarihinin temellerini kurulmuş olduğu İstanbul Anadolu yakası başta olmak
                      üzere; sosyo-ekonomik düzeyi düşük kişilerin yaşadığı semtlerde, yoksulluk ve yoksunluk içinde
                      yaşamını sürdüren, eğitimsiz yada eğitimini yarıda bırakmış, yabancılaşma, madde bağımlılığı,
                      iletişim sorunları, ötekileşme, şiddete maruz kalma gibi riskler altında bulunanların acılarından
                      damıtarak 2002 yılında attı.
                    </p>
                    <p>
                      Bu temelleri atarken ilkin İstanbul Anadolu yakasında zorunlu göç mağdurlarının yaşam alanlarına
                      gidip onların önerilerini dinlemek, yerinde gözlemlemek için bir grup sosyal çalışmacıyla Kadıköy’ün
                      kenar mahallelerinde  80 aile ve 189 çocuklarla birebir görüştük. Görüşmeler esnasında

                      ağır koşullara, zorluklara rağmen ‘’imkanlarınız olsa ne yapmak isterdiniz?’’ sorumuza hemen hemen
                      hepsinin ortak cevabı sanatın bir dalıyla ilgilenmekti. Kimi bir bağlamaya sahip olmayı kimi gitar
                      çalmayı kimi ise oyuncu olmayı istiyordu.Bu cevaplarla birlikte, çocuk ve gençlerin sanat yoluyla
                      kendi sorunlarıyla baş etmeleri, kendilerini özgürce ifade etmeleri ve en önemlisi kendi kendilerine
                      yeterli hale gelmelerini sağlayacak, koruyucu, önleyici, eğitici, geliştirici, yaratıcı çalışmaları yürütmek
                      sorumluluğunu omzumuza yüklendik. İşte Başak Sanat çocukların bu talepleri üzerine doğdu.
                      “Sanatın insana, yaşadığı sorunların üstesinden gelme gücünü kazandırdığı” yaklaşımından da
                      hareketle psiko-sosyal çalışmaların yanı sıra, eğitsel, kültürel, sanatsal ve rehabilitasyona dönük
                      müzik, yaratıcı drama, tiyatro, resim, seramik, pandomim, halk dansları ve sanatsal çalışmalar gibi
                      temel faaliyetleri ana eksenimize koyduk. Çalışma alanımız kuruluşumuzdan bugüne kadar hep
                      olduğu üzere hedef grubumuzun oturduğu kenar mahalle semtleridir.
                    </p>
                    <p>
                      Elimizden geldiği kadarıyla kentin çeperlerinde kalmış bu çocuk ve gençlerle dayanışmaya çalıştık,
                      çalışıyoruz. Koşullarının daha ağır olması nedeniyle özellikle zorunlu göç mağdurları, hedef
                      grubumuz içinde büyük bir yer almaktadır. Hedef grubumuz içinde de psikolojik sorunu olanlara, kız
                      çocuklarına, parçalanmış aile çocuklarına, eğitimden kopanlara, bedensel engellilere ve farklı
                      dezavantajlara sahip olanlara pozitif destek uygulamaktayız.
                    </p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="urgent-causes-image">
                    <div class="images big-image">
                        <img src="/assets/images/home/3.jpg" class="img-responsive img-circle" alt="causes">
                    </div>
                    <div class="images middum-image">
                        <img src="/assets/images/home/2.jpg" class="img-responsive img-circle" alt="causes">
                    </div>
                    <div class="images small-image">
                        <img src="/assets/images/home/4.jpg" class="img-responsive img-circle" alt="causes">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/.know-me-about-us-->
