<div class="topheader">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span><img class="topheader-nationality-img" src="http://icons.iconarchive.com/icons/custom-icon-design/flat-europe-flag/256/Turkey-icon.png" alt=""></span>
        <span><img class="topheader-nationality-img" src="https://image.flaticon.com/icons/png/128/330/330425.png" alt=""></span>
      </div>
    </div>
  </div>
</div>
<header>
    <div class="top-bar-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo">
                        <a href="index.html"><img src="/assets/images/basak-sanat-vakfi-logo.png" alt="logo" /></a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="text-right">
                        <a href="https://www.facebook.com" target="_blank" class="doante-button orange-bg">
                            <span>DESTEK OLUN</span>
                            BAĞIŞ YAP
                        </a>
                        <a routerLink="gonullu-olun" class="doante-button yellow-bg">
                            <span>DESTEK OLUN</span>
                            GÖNÜLLÜ OL
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-navbar></app-navbar>


</header>

<router-outlet></router-outlet>

<footer class="main-footer-area">
    <div class="footer-adderess-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-logo">
                        <a href="#"><img src="/assets/images/home/footer-logo.png" class="img-responsive" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="footer-address text-right">
                        <p>Donec venenatis metus at diam condimentum pretiuteger aliquet a turpis quis pel len tesque  ueta turpis quis venenatissolelementum </p>
                        <ul>
                            <li><i class="fa fa-map-marker"></i> Albrata Street, 23/D-2, Building, CA, US </li>
                            <li><i class="ion-iphone"></i> +11 (09) 876543 </li>
                            <li><i class="ion-forward"></i> support@domian.com </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-important-link">
                        <h4 class="orange">IMPORTANT LINKS</h4>
                        <ul>
                            <li><a href="#">ABOUT US</a></li>
                            <li><a href="#">COMPANY PROFILE</a></li>
                            <li><a href="#">LEGAL POLICY</a></li>
                            <li><a href="#">COPYRIGHT ISSUES</a></li>
                            <li><a href="#">GLOBAL OFFICES</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-update-news">
                    <h4 class="orange">GLOBAL UPDATE NEWS </h4>
                        <ul>
                            <li><i class="ion-social-youtube"></i><a href="#">100 CHILDREN RESCUE FROM WAR ZONE</a></li>
                            <li><i class="ion-document-text"></i><a href="#"> PEOPLE DIE IN THE WEST LIKE BEFORE EAST</a></li>
                            <li><i class="ion-log-in"></i><a href="#">AWARENESS CAMPAIGN IS GOING CRAZY</a></li>
                            <li><i class="ion-social-youtube"></i><a href="#">WHAT HAPPEN WHEN WE LIVE!</a></li>
                            <li><i class="ion-document-text"></i><a href="#">AWARENESS CAMPAIGN IS GOING CRAZY</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                  <a class="twitter-timeline" data-height="400" data-theme="dark" href="https://twitter.com/kurumsally?ref_src=twsrc%5Etfw">Tweets by kurumsally</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-push-6">
                    <div class="footer-social-icon text-right">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
