<section class="urgent-causes-area ash-white-bg">
    <div class="container">
        <div class="section-heading section-padding pdb55">
            <h2><span> Biz Kimiz</span>Başak Sanat Vakfı</h2>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="urgent-causes">
                    <h3>Başak Sanat Vakfı</h3>
                    <p>
                        Başak Sanat Vakfı ırkı, dili, rengi, cinsiyeti, yaşı, siyasal ya da başka düşünceleri, ulusal, etnik ve sosyal kökeni, mülkiyet, sakatlık, doğuştan gelen ve sonradan kazanılan statüleri ve diğer bütün farklılıklarını bir yana bırakarak; çocuğun hakları ile birlikte bir ‘birey’ olarak kabul edilmesi için çalışır.
                    </p>
                    <div class="collection-rate">
Çocuğun ve toplumun ‘Temel İnsan Hakları ve Özgürlüklerine’ saygının arttırılmasını; ‘çocuğun yüksek yararının’ korunmasını ve ‘eğitim, kültür, sanat’ yolu ile çocuğun yeteneklerini geliştirmesine destek olmayı, ona yol göstermeyi amaçlar. Vakıf çocukların adil ve özgür bir toplumda büyümelerine ve çocuklar için demokratik bir toplumun tesis edilmesine katkıda bulunmak için hak odaklı çalışmalar yapar ve işbirliklerini teşvik eder.
                        <div class="clear"></div>
                    </div>
                    <a href="#" class="sune-btn orange-bg">Bağış Yap <i class="fa fa-heart"></i></a>
                    <a routerLink="hakkimizda" class="sune-btn black-bg">Detaylı Bilgi <i class="ion-android-arrow-forward"></i></a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="urgent-causes-image">
                    <div class="images big-image">
                        <img src="/assets/images/basaksanat-400.png" class="img-responsive img-circle" alt="causes">
                    </div>
                    <div class="images middum-image">
                        <img src="/assets/images/basaksanat-300.png" class="img-responsive img-circle" alt="causes">
                    </div>
                    <div class="images small-image">
                        <img src="/assets/images/basaksanat-300-2.png" class="img-responsive img-circle" alt="causes">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/.urgent-causes-area-->
