<div class="topheader">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span
          ><img
            class="topheader-nationality-img"
            src="http://icons.iconarchive.com/icons/custom-icon-design/flat-europe-flag/256/Turkey-icon.png"
            alt=""
        /></span>
        <span
          ><img
            class="topheader-nationality-img"
            src="https://image.flaticon.com/icons/png/128/330/330425.png"
            alt=""
        /></span>
      </div>
    </div>
  </div>
</div>
<header>
  <div class="top-bar-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="logo">
            <a routerLink="/"
              ><img src="/assets/images/basak-sanat-vakfi-logo.png" alt="logo"
            /></a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="text-right">
            <a
              href="https://www.facebook.com"
              target="_blank"
              class="doante-button orange-bg"
            >
              <span>DESTEK OLUN</span>
              BAĞIŞ YAP
            </a>
            <a routerLink="/gonullu-olun" class="doante-button yellow-bg">
              <span>DESTEK OLUN</span>
              GÖNÜLLÜ OL
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-navbar></app-navbar>
</header>

<router-outlet></router-outlet>

<footer class="main-footer-area">
  <div class="footer-adderess-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-logo">
            <a href="#"
              ><img
                src="/assets/images/basak-sanat-vakfi-logo.png"
                class="img-responsive"
                alt="logo"
            /></a>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="footer-address text-right">
            <p>
              Kayışdağı Mah., Nihat Sok. No:55, 34755 Ataşehir/İstanbul
            </p>
            <ul>
              <li><i class="ion-iphone"></i> +90 216 420 49 68</li>
              <li><i class="ion-forward"></i> basaksanat@gmail.com</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bar">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-push-6">
          <div class="footer-social-icon text-right">
            <ul>
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
