
<section class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-title">
                    <h1>Başak Sanat Vakfı <span>Geçmişten Bugüne Başak Sanat Vakfı Neyi Amaçlar?</span></h1>
                </div>
                <ul class="bread-crumb">
                    <li><a [routerLink]="['/']">Ana Sayfa</a></li>
                    <li><a [routerLink]="['/hakkimizda']">Hakkımızda</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="know-me-about-us pdb80 ash-white-bg">
    <div class="container">
        <div class="section-heading section-padding">
            <h2><span>Hakkımızda</span>Biz Kimiz?</h2>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="about-us">
                    <h3>İlkelerimiz</h3>
                    <p>
                      Başak Kültür ve Sanat Vakfı ırkı, dili, rengi, cinsiyeti, yaşı, siyasal ya da başka düşünceleri, ulusal,
                      etnik ve sosyal kökeni, mülkiyet, sakatlık, doğuştan gelen ve sonradan kazanılan statüleri ve diğer
                      bütün farklılıklarını bir yana bırakarak; çocuğun hakları ile birlikte bir ‘birey’ olarak kabul edilmesi için
                      çalışır.

                    </p>
                    <p>
                      Çocuğun ve toplumun ‘Temel İnsan Hakları ve Özgürlüklerine’ saygının arttırılmasını; ‘çocuğun
                      yüksek yararının’ korunmasını ve ‘eğitim, kültür, sanat’ yolu ile çocuğun yeteneklerini geliştirmesine
                      destek olmayı, ona yol göstermeyi amaçlar. Vakıf çocukların adil ve özgür bir toplumda büyümelerine
                      ve çocuklar için demokratik bir toplumun tesis edilmesine katkıda bulunmak için hak odaklı çalışmalar
                      yapar ve işbirliklerini teşvik eder.
                    </p>
                    <h3 class="orange">Neyi Hedefliyoruz</h3>
                    <p>
                      Başak Kültür ve Sanat Vakfı; sosyal ve ekonomik olarak dezavantajlı çocuk ve gençlerin sanatsal
                      yetenek ve potansiyellerinin ortaya çıkartılması, desteklenmesi, geliştirilmesi, kişilik gelişimlerinin
                      önündeki engellerin ortadan kaldırılması ve gençlerin sağlıklı bireyler olarak üretime yönlendirilmesi,
                      kültür ve sanat alanında bilimsel inceleme ve araştırmalar gerçekleştirmeleri amacıyla çalışmalar
                      yapan bağımsız bir sivil toplum örgütüdür.
                    </p>
                    <p>
                      Vakıf; işsizlik, iç göç olgusu, aile içi şiddet, ekonomik yetersizlik, sosyal güvenlikten yoksun olma,
                      eğitim süreçlerine dâhil olamama ve/veya eğitimden kopma vb. nedenlerle örselenen çocuk ve
                      gençlere; sağlıklı, çağdaş, yaşanılabilir bir ortam hazırlamayı amaçlamaktadır. Vakıf; çocuk ve
                      gençlerin, Evrensel insan hakları değerlerini önemseyen ve geliştiren bireyler olabilmeleri adına,

                      kültürel ve sanatsal temelli atölyeler kurarak, sanatın her alanında gençlerin yeteneklerini
                      sergilemeleri için eğitsel ve kültürel çalışmalar da yapmaktadır.
                    </p>

                </div>
            </div>
            <div class="col-lg-5">
                <div class="urgent-causes-image">
                    <div class="images big-image">
                        <img src="/assets/images/basaksanat-400.png" class="img-responsive img-circle" alt="causes">
                    </div>
                    <div class="images middum-image">
                        <img src="/assets/images/basaksanat-300.png" class="img-responsive img-circle" alt="causes">
                    </div>
                    <div class="images small-image">
                        <img src="/assets/images/basaksanat-300-2.png" class="img-responsive img-circle" alt="causes">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/.know-me-about-us-->

<section class="deference-making-area yellow-bg become-a-volenter">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-6 pdr0 pdl0">
                <div style="height: 480px;" class="image">
                    <img src="/assets/images/basaksanat-gonulluolun.png" class="img-responsive" alt="makigng deference">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="diference-making-text">
                    <h2>BAĞIŞÇI OLUN <span>Gelecek Nesilleri; Kültürle, Sanatla, Eğitimle Beslemek ve Aydınlık Yarınlar İçin Siz De Katılın.</span></h2>
                    <p>Başak Sanat Vakfı'na bağışta bulunarak veya projelerimizde gönüllü olarak siz de eğitimi, sanatı destekleyebilir; daha yaşanılabilir bir dünya için katkıda bulunabilirsiniz.</p>
                    <a routerLink="/gonullu-olun" class="sune-btn black-bg">Gönüllü Ol<i class="ion-android-arrow-forward"></i></a>
                </div>
            </div>
        </div>
    </div>
</section><!--/.deference-making-area-->

<section class="partner-area ash-white-bg pdb80">
    <div class="container">
        <div class="heading">
             <h3>Destekleyenler</h3>
             <p>In fermentum eros in orci blandit scelerisque id a nibh. Proin et dignissim nisi. Maecenas accumsan mi sed ipsum pharetra tristique.</p>
        </div>
        <div class="all-client">
            <div class="row no-margin row-eq-tab">
                <div class="col-lg-3 col-xs-6 pdl0 pdr0 client-parent">
                    <div class="single-client">
                        <div class="company-logo">
                            <img src="/assets/images/client/1.png" class="img-responsive" alt="logo">
                        </div>
                        <div class="company-name">
                            <h5 class="red">DRAGON SAFETY</h5>
                            <span>all life matters </span>
                        </div>
                    </div><!--/.single-client-->
                </div>
                <div class="col-lg-3 col-xs-6 pdl0 pdr0 client-parent">
                    <div class="single-client">
                        <div class="company-logo">
                            <img src="/assets/images/client/1.png" class="img-responsive" alt="logo">
                        </div>
                        <div class="company-name">
                            <h5 class="red">DRAGON SAFETY</h5>
                            <span>all life matters </span>
                        </div>
                    </div><!--/.single-client-->
                </div>
                <div class="col-lg-3 col-xs-6 pdl0 pdr0 client-parent">
                    <div class="single-client">
                        <div class="company-logo">
                            <img src="/assets/images/client/1.png" class="img-responsive" alt="logo">
                        </div>
                        <div class="company-name">
                            <h5 class="red">DRAGON SAFETY</h5>
                            <span>all life matters </span>
                        </div>
                    </div><!--/.single-client-->
                </div>
                <div class="col-lg-3 col-xs-6 pdl0 pdr0 client-parent">
                    <div class="single-client">
                        <div class="company-logo">
                            <img src="/assets/images/client/1.png" class="img-responsive" alt="logo">
                        </div>
                        <div class="company-name">
                            <h5 class="red">DRAGON SAFETY</h5>
                            <span>all life matters </span>
                        </div>
                    </div><!--/.single-client-->
                </div>
                <div class="col-lg-3 col-xs-6 pdl0 pdr0 client-parent">
                    <div class="single-client">
                        <div class="company-logo">
                            <img src="/assets/images/client/1.png" class="img-responsive" alt="logo">
                        </div>
                        <div class="company-name">
                            <h5 class="red">DRAGON SAFETY</h5>
                            <span>all life matters </span>
                        </div>
                    </div><!--/.single-client-->
                </div>
                <div class="col-lg-3 col-xs-6 pdl0 pdr0 client-parent">
                    <div class="single-client">
                        <div class="company-logo">
                            <img src="/assets/images/client/1.png" class="img-responsive" alt="logo">
                        </div>
                        <div class="company-name">
                            <h5 class="red">DRAGON SAFETY</h5>
                            <span>all life matters </span>
                        </div>
                    </div><!--/.single-client-->
                </div>
                <div class="col-lg-3 col-xs-6 pdl0 pdr0 client-parent">
                    <div class="single-client">
                        <div class="company-logo">
                            <img src="/assets/images/client/1.png" class="img-responsive" alt="logo">
                        </div>
                        <div class="company-name">
                            <h5 class="red">DRAGON SAFETY</h5>
                            <span>all life matters </span>
                        </div>
                    </div><!--/.single-client-->
                </div>
                <div class="col-lg-3 col-xs-6 pdl0 pdr0 client-parent">
                    <div class="single-client">
                        <div class="company-logo">
                            <img src="/assets/images/client/1.png" class="img-responsive" alt="logo">
                        </div>
                        <div class="company-name">
                            <h5 class="red">DRAGON SAFETY</h5>
                            <span>all life matters </span>
                        </div>
                    </div><!--/.single-client-->
                </div>
            </div>
        </div>
    </div>
</section>
