<div class="blog-detail-body mt100 pdb90">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="blog-list-item">
          <div class="image">
            <img
              *ngIf="proje"
              [src]="proje.imageUrl"
              class="img-responsive"
              alt="blog image"
            />
          </div>
          <div class="meta-box"></div>
          <div class="blog-list-text">
            <div>
              <h3>{{ proje.title }}</h3>
            </div>
            <div *ngIf="proje" [innerHTML]="proje.content"></div>
          </div>
        </div>
        <!--/.blog-list-item-->
        <div class="share-social-media">
          <span>Sosyal Medyada Biz:</span>
          <ul class="colorfull-social-icon ">
            <li>
              <a href="#" class="facebook-icon"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li>
              <a href="#" class="twitter-icon"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" class="google-icon"><i class="fa fa-google"></i></a>
            </li>
            <li>
              <a href="#" class="linked-icon"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
        <div class="next-prev-post mt50"></div>
      </div>
      <div class="col-md-3">
        <div class="sidebar">
          <aside class="blog-page-popular-post">
            <div class="border-heading">
              <h4>Son Projeler</h4>
            </div>
            <div class="row">
              <div
                *ngFor="let proje of projeler; let pIndex = index"
                class="col-md-12"
              >
                <div class="popular-post">
                  <div class="image">
                    <img
                      [src]="proje.imageUrl"
                      class="img-responsive"
                      alt="causes"
                    />
                  </div>
                  <div class="meta-box"></div>
                  <h5>
                    <a [routerLink]="['/proje', proje.id, proje.proje_slug]">{{
                      proje.title
                    }}</a>
                  </h5>
                  <p>
                    {{ proje.summary | convertHtmlToText | slice: 0:100 }}...
                  </p>
                </div>
                <!--/.popular-post -->
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
