<div class="menu-area ash-white-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <nav class="menuzord menuzord-responsive">
                          <a (click)="changeMenuState()" class="showhide menu-toggle-bar"><span></span></a>

                           <ul *ngIf="menuOpen" [@changeMenuState]="'menuOpened'" class="menuzord-menu">
                               <li><a [routerLinkActiveOptions]="{ exact: true }" routerLink="/" routerLinkActive="active">Ana Sayfa</a></li>

                                <li class="hovered-item">
                                  <a style="cursor: pointer;">Hakkımızda</a>
                                  <ul class="dropdown item-to-open">
                                       <li><a routerLink="/hakkimizda" routerLinkActive="active">BİZ KİMİZ?</a></li>
                                       <li><a routerLink="/tarihce" routerLinkActive="active">TARİHÇE</a></li>
                                   </ul>
                                </li>

                               <li class="hovered-item">
                                 <a style="cursor: pointer;">Çalışmalar</a>
                                 <ul class="dropdown item-to-open">
                                      <li><a routerLink="/projeler/1">PROJELER</a></li>
                                      <li><a routerLink="/atolyeler/1">ATÖLYELER</a></li>
                                      <li><a routerLink="/atolye-basvuru">ATÖLYE BAŞVURUSU</a></li>
                                      <li><a routerLink="/burslar/1">BURSLAR</a></li>
                                      <li><a routerLink="/burs-basvuru">BURS BAŞVURUSU</a></li>
                                  </ul>
                               </li>
                               <li class="hovered-item">
                                 <a style="cursor: pointer;">GÖNÜLLÜLÜK</a>
                                 <ul class="dropdown item-to-open">
                                      <li><a routerLink="/gonullulerimiz">GÖNÜLLÜLERİMİZ</a></li>
                                      <li><a routerLink="/gonullu-olun">GÖNÜLLÜ OLUN</a></li>
                                  </ul>
                               </li>

                               <li class="hovered-item">
                                 <a routerLink="/duyurular/1">DUYURULAR</a>
                               </li>
                               <li ><a routerLink="/bize-ulasin" routerLinkActive="active">BİZE ULAŞIN</a></li>
                           </ul>
                       </nav>

                       <!-- Stays for layout. -->
                       <div style="display: none" class="search-box">
                            <div class="top-search-input-wrap">
                            </div>
                        </div><!--/.search-box -->
                      </div>


                    <div class="col-md-3">
                        <div class="social-icon text-right">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
