<section class="slider-area">
    <div class="slider-carousel" (swipeleft)="swiped($event.type)" (swiperight)="swiped($event.type)">
        <div class="single-item" *ngIf="currentSlide === 1" [@changeSlideLeft]="animationState">
            <img src="/assets/images/basaksanat-slider-1.png" alt="First slide">
           <div class="overlay"></div>
            <div class="container-parent">
                <div class="container">
                    <div class="sune-carousel-caption">
                       <h1>
                       <span class="everyone">Herkes İçin
                       <span class="subheading">Sanat, Eğitim ve Kültür Vakfı</span></span></h1>
                        <p>Başak Sanat Vakfı ile her kesimden çocuğun sanata, eğitime ve sosyal olanaklara ulaşımı ile kendisini geliştirme imkanı mümkün</p>
                        <a href="#" class="more-stories">Daha Fazlası <i class="ion-android-arrow-forward"></i></a>
                    </div>
                </div>
            </div>
        </div><!--/.single-item -->
        <div class="single-item" *ngIf="currentSlide === 2" [@changeSlideLeft]="animationState">
            <img src="/assets/images/basaksanat-slider-2.png" alt="First slide">
           <div class="overlay"></div>
            <div class="container-parent">
                <div class="container">
                    <div class="sune-carousel-caption">
                       <h1>
                       <span class="everyone">Tüm Çocuklarımıza
                       <span class="subheading">Destek Olmak İstemez Misiniz?</span></span></h1>
                        <p>Her yıl gerçekleştirdiğimiz etkinlik ve projelerle onlarca çocuğumuza Başak Sanat Vakfı olarak umut olmaya devam ediyoruz. Bize Katılmak İstemez Misiniz?</p>
                        <a href="#" class="more-stories">Gönüllü Ol <i class="ion-android-arrow-forward"></i></a>
                    </div>
                </div>
            </div>
        </div><!--/.single-item -->
        <div class="single-item" *ngIf="currentSlide === 3" [@changeSlideLeft]="animationState">
            <img src="/assets/images/basaksanat-slider-3.png" alt="First slide">
           <div class="overlay"></div>
            <div class="container-parent">
                <div class="container">
                    <div class="sune-carousel-caption">
                       <h1>
                       <span class="everyone">Herkese Sanat
                       <span class="subheading">Aydınlık Yarınlar İçin</span></span></h1>
                        <p>Başak Sanat Vakfı olarak yıllara sari deneyimimiz ve bilgi birikimimiz ile küçüklerimizi sanat, kültür ve eğitimle daha aydınlık yarınlara hazırlıyoruz.</p>
                        <a href="#" class="more-stories">Tarihçemiz <i class="ion-android-arrow-forward"></i></a>
                    </div>
                </div>
            </div>
        </div><!--/.single-item -->
    </div>
</section>
