
<section class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-title">
                    <h1>ABOUT SUNE <span>IT IS ALL ABOUT SUNE NON-PROFIT CHARITY TEMPLATE.</span></h1>
                </div>
                <ul class="bread-crumb">
                    <li><a [routerLink]="['/']">Ana Sayfa</a></li>
                    <li><a [routerLink]="['/hakkimizda']"  class="active orange">Hakkımızda</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="know-me-about-us pdb80 ash-white-bg">
    <div class="container">
        <div class="section-heading section-padding">
            <h2><span>KNOW MORE</span>ABOUT US</h2>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="about-us">
                    <h3>ALL ABOUT HELPING OTHERS.</h3>
                    <p>
                        Fusce facilisis sapien at nulla ultricies, ut ultrices felis iaculis. In consectetur ullamcorper erat in tempor. Sed a dapibus justo, a faucibus ante. Donec volutpat ipsum et felis semper, eget ornare quam mattis. Cras ac vestibulum mauris. Aliquam id tincidunt odio. Praesent sit amet elementum augue. Nullam lobortis nibh a ligula viverra, sed interdum odio consectetur. In dapibus bibendum purus, quis pellentesque nisl consequat eget.
                    </p>
                    <h3 class="orange">OUR MISSION</h3>
                    <p>
                        Fusce facilisis sapien at nulla ultricies, ut ultrices felis iaculis. In consectetur ullamcorper erat in tempor. Sed a dapibus justo, a faucibus ante. Donec volutpat ipsum et felis semper, eget ornare quam mattis. Cras ac vestibulum mauris.
                    </p>
                    <h3 class="yellow">OUR VISION</h3>
                    <p>
                       Fusce facilisis sapien at nulla ultricies, ut ultrices felis iaculis. In consectetur ullamcorper erat in tempor. Sed a dapibus justo, a faucibus ante.
                    </p>

                </div>
            </div>
            <div class="col-lg-5">
                <div class="urgent-causes-image">
                    <div class="images big-image">
                        <img src="/assets/images/home/3.jpg" class="img-responsive img-circle" alt="causes">
                    </div>
                    <div class="images middum-image">
                        <img src="/assets/images/home/2.jpg" class="img-responsive img-circle" alt="causes">
                    </div>
                    <div class="images small-image">
                        <img src="/assets/images/home/4.jpg" class="img-responsive img-circle" alt="causes">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/.know-me-about-us-->

<section class="video-box-area">
    <div class="inner-border">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sucess-story">
                       <h2 class="orange"> SUCCESS
                        <span>From our glorious journey</span></h2>
                       <div class="video-play-box">

                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/.video-box-area-->

<section class="get-envolved-area ">
    <div class="container">
        <div class="section-heading section-padding">
             <h2><span>KNOW MORE ABOUT</span>OUR EXPERTISE</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="get-envolved-item first-item">
                    <div class="envolped-top">
                        <div class="text"><span>HEALTH</span></div>
                    </div>
                    <div class="content">
                        <h3><a href="#">CHILDREN HEALTH </a></h3>
                        <p>Nam sollicitudin libero eu diam faucibus, sit amet hendrerit scelerisqususcipit.</p>
                    </div>
                </div><!--/.get-envolved-item-->
            </div>
            <div class="col-md-4">
                <div class="get-envolved-item second-item">
                    <div class="envolped-top">
                        <div class="text"><span>FUNDRAISE</span></div>
                    </div>
                    <div class="content">
                        <h3><a href="#">REHABILITATION</a></h3>
                        <p>Nam sollicitudin libero eu diam faucibus, sit amet hendrerit scelerisqususcipit.</p>
                    </div>
                </div><!--/.get-envolved-item-->
            </div>
            <div class="col-md-4">
                <div class="get-envolved-item third-item">
                    <div class="envolped-top">
                        <div class="text"><span>RIGHTS</span></div>
                    </div>
                    <div class="content">
                        <h3><a href="#">HUMAN RIGHTS</a></h3>
                        <p>Nam sollicitudin libero eu diam faucibus, sit amet hendrerit scelerisqususcipit.</p>
                    </div>
                </div><!--/.get-envolved-item-->
            </div>
        </div>
    </div>
</section><!--/.get-envolved-area-->
<section class="team-area ash-white-bg pdb70">
    <div class="container">
        <div class="section-heading section-padding">
             <h2><span>KNOW MORE ABOUT OUR</span>TEAM MEMBERS</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="recent-causes-item">
                    <div class="recent-causes-progressbar">
                      <img class="recent-causes-progressbar-img" src="https://media.children.org/cdn-8d444fdea239e20/globalassets/00_home-page/holiday-home-page/how-you-help5.jpg" alt="">
                      <div class="recent-causes-progressbar-overlay"></div>
                    </div>
                     <div class="recent-causes-text text-center">
                         <h3><a href="#">Alexgender Grahambell</a></h3>
                         <span class="designation yellow">PSYCHOLOGIST</span>
                         <p>Nam sollicitudin libero eu diam faucibus, sit amet hendrerit scelerisqususcipit. </p>
                         <ul class="colorfull-social-icon">
                             <li><a href="#" class="facebook-icon"><i class="fa fa-facebook"></i></a></li>
                             <li><a href="#" class="twitter-icon"><i class="fa fa-twitter"></i></a></li>
                             <li><a href="#" class="google-icon"><i class="fa fa-google"></i></a></li>
                             <li><a href="#" class="linked-icon"><i class="fa fa-linkedin"></i></a></li>
                         </ul>
                     </div>
                </div><!--/.recent-causes-item-->
            </div>
            <div class="col-md-4">
                <div class="recent-causes-item">
                    <div class="recent-causes-progressbar">
                      <img class="recent-causes-progressbar-img" src="https://media.children.org/cdn-8d444fdea239e20/globalassets/00_home-page/holiday-home-page/how-you-help5.jpg" alt="">
                      <div class="recent-causes-progressbar-overlay"></div>
                    </div>
                     <div class="recent-causes-text text-center">
                         <h3><a href="#">Alexgender Grahambell</a></h3>
                         <span class="designation yellow">PSYCHOLOGIST</span>
                         <p>Nam sollicitudin libero eu diam faucibus, sit amet hendrerit scelerisqususcipit. </p>
                         <ul class="colorfull-social-icon">
                             <li><a href="#" class="facebook-icon"><i class="fa fa-facebook"></i></a></li>
                             <li><a href="#" class="twitter-icon"><i class="fa fa-twitter"></i></a></li>
                             <li><a href="#" class="google-icon"><i class="fa fa-google"></i></a></li>
                             <li><a href="#" class="linked-icon"><i class="fa fa-linkedin"></i></a></li>
                         </ul>
                     </div>
                </div><!--/.recent-causes-item-->
            </div>
            <div class="col-md-4">
                <div class="recent-causes-item">
                    <div class="recent-causes-progressbar">
                      <img class="recent-causes-progressbar-img" src="https://media.children.org/cdn-8d444fdea239e20/globalassets/00_home-page/holiday-home-page/how-you-help5.jpg" alt="">
                      <div class="recent-causes-progressbar-overlay"></div>
                    </div>
                     <div class="recent-causes-text text-center">
                         <h3><a href="#">Alexgender Grahambell</a></h3>
                         <span class="designation yellow">PSYCHOLOGIST</span>
                         <p>Nam sollicitudin libero eu diam faucibus, sit amet hendrerit scelerisqususcipit. </p>
                         <ul class="colorfull-social-icon">
                             <li><a href="#" class="facebook-icon"><i class="fa fa-facebook"></i></a></li>
                             <li><a href="#" class="twitter-icon"><i class="fa fa-twitter"></i></a></li>
                             <li><a href="#" class="google-icon"><i class="fa fa-google"></i></a></li>
                             <li><a href="#" class="linked-icon"><i class="fa fa-linkedin"></i></a></li>
                         </ul>
                     </div>
                </div><!--/.recent-causes-item-->
            </div>
        </div>
    </div>
</section><!--/.team-area-->
<section class="deference-making-area yellow-bg become-a-volenter">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-6 pdr0 pdl0">
                <div style="height: 480px;" class="image">
                    <img src="/assets/images/about/3.jpg" class="img-responsive" alt="makigng deference">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="diference-making-text">
                    <h2>BECOME A VOLUNTEER <span>GOING TOGATHER FOR OUR FUTURE GENERATION OF CHILDREN AND HUMAN BEING.</span></h2>
                    <p>Pellentesque sollicitudin fringilla orci, ullamcorper ultrices sapien elementum facilisis. Mauris dictum metus sed libero egestas, ut hendrerit massa gravida.</p>
                    <a href="#" class="sune-btn black-bg">JOIN WITH US<i class="ion-android-arrow-forward"></i></a>
                </div>
            </div>
        </div>
    </div>
</section><!--/.deference-making-area-->
<section class="testimonial-area pdb90">
    <div class="container">
        <div class="section-heading section-padding">
             <h2><span>WE ARE GOOD AT OUR SERVICE</span>OUR TESTIMONIALS</h2>
        </div>
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Bottom Carousel Indicators -->

            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner text-center" style="position: relative" (swiperight)="swipe($event.type)" (swipeleft)="swipe($event.type)">
                <!-- Quote 1 -->
                <div [@changeTestAnimation]="'changedAnimation'" *ngIf="currentTest === 1" class="item" [class.active]="currentTest === 1">
                    <span class="client-name yellow">Berk Elmas</span>
                    <blockquote class="test-text-nonselectable">
                        Berk Elmas'ın texti eros in orci blandit scelerisque id a nibh. Proin net dignissim nisi blandit sce.
                    </blockquote>
                </div>
                <!-- Quote 2 -->
                <div [@changeTestAnimation]="'changedAnimation'" *ngIf="currentTest === 2" class="item" [class.active]="currentTest === 2">
                <span class="client-name yellow">Mustafa Yılmaz</span>
                    <blockquote class="test-text-nonselectable">
                         Mustafa Yılmaz'ın Texti eros in orci blandit scelerisque id a n nisi blandit sce.
                    </blockquote>
                </div>
                <!-- Quote 3 -->
                <div [@changeTestAnimation]="'changedAnimation'" *ngIf="currentTest === 3" class="item" [class.active]="currentTest === 3">
                <span class="client-name yellow">Ali Yıldırım</span>
                    <blockquote class="test-text-nonselectable">
                         In fermentum eros in orci blandit scelerisque id a nibh. Proin net dignissim nisi blandit sce.
                    </blockquote>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li [class.active]="currentTest === 1">
                    <a (click)="changeTest(1)"><img class="img-responsive test-small-img" src="/assets/images/testimonial/1.jpg" alt="testimonial"></a>
                </li>
                <li [class.active]="currentTest === 2">
                    <a (click)="changeTest(2)"><img class="img-responsive test-small-img" src="/assets/images/testimonial/2.jpg" alt="testimonial"></a>
                </li>
                <li [class.active]="currentTest === 3">
                    <a (click)="changeTest(3)"><img class="img-responsive test-small-img" src="/assets/images/testimonial/3.jpg" alt="testimonial"></a>
                </li>
            </ol>
        </div>
    </div>
</section><!--/.testimonial-area-->
<section class="partner-area ash-white-bg pdb80">
    <div class="container">
        <div class="heading">
             <h3>OUR PARTNERS</h3>
             <p>In fermentum eros in orci blandit scelerisque id a nibh. Proin et dignissim nisi. Maecenas accumsan mi sed ipsum pharetra tristique.</p>
        </div>
        <div class="all-client">
            <div class="row no-margin row-eq-tab">
                <div class="col-lg-3 col-xs-6 pdl0 pdr0 client-parent">
                    <div class="single-client">
                        <div class="company-logo">
                            <img src="/assets/images/client/1.png" class="img-responsive" alt="logo">
                        </div>
                        <div class="company-name">
                            <h5 class="red">DRAGON SAFETY</h5>
                            <span>all life matters </span>
                        </div>
                    </div><!--/.single-client-->
                </div>
                <div class="col-lg-3 col-xs-6 pdl0 pdr0 client-parent">
                    <div class="single-client">
                        <div class="company-logo">
                            <img src="/assets/images/client/2.png" class="img-responsive" alt="logo">
                        </div>
                        <div class="company-name">
                            <h5 class="orange">FOX HOSPITAL</h5>
                            <span>all life matters </span>
                        </div>
                    </div><!--/.single-client-->
                </div>
                <div class="col-lg-3 col-xs-6 pdl0 pdr0 client-parent">
                    <div class="single-client">
                        <div class="company-logo">
                            <img src="/assets/images/client/3.png" class="img-responsive" alt="logo">
                        </div>
                        <div class="company-name">
                            <h5>OWL MAN LTD.</h5>
                            <span>all life matters </span>
                        </div>
                    </div><!--/.single-client-->
                </div>
                <div class="col-lg-3 col-xs-6 pdl0 pdr0 client-parent">
                    <div class="single-client">
                        <div class="company-logo">
                            <img src="/assets/images/client/4.png" class="img-responsive" alt="logo">
                        </div>
                        <div class="company-name">
                            <h5 class="cyan">HORSE POWER INC.</h5>
                            <span>all life matters </span>
                        </div>
                    </div><!--/.single-client-->
                </div>
                <div class="col-lg-3 col-xs-6 pdl0 pdr0 client-parent">
                    <div class="single-client">
                        <div class="company-logo">
                            <img src="/assets/images/client/3.png" class="img-responsive" alt="logo">
                        </div>
                        <div class="company-name">
                            <h5>OWL MAN LTD.</h5>
                            <span>all life matters </span>
                        </div>
                    </div><!--/.single-client-->
                </div>
                <div class="col-lg-3 col-xs-6 pdl0 pdr0 client-parent">
                    <div class="single-client">
                        <div class="company-logo">
                            <img src="/assets/images/client/4.png" class="img-responsive" alt="logo">
                        </div>
                        <div class="company-name">
                            <h5 class="cyan">HORSE POWER INC.</h5>
                            <span>all life matters </span>
                        </div>
                    </div><!--/.single-client-->
                </div>
                <div class="col-lg-3 col-xs-6 pdl0 pdr0 client-parent">
                    <div class="single-client">
                        <div class="company-logo">
                            <img src="/assets/images/client/2.png" class="img-responsive" alt="logo">
                        </div>
                        <div class="company-name">
                            <h5 class="orange">FOX HOSPITAL</h5>
                            <span>all life matters </span>
                        </div>
                    </div><!--/.single-client-->
                </div>
                <div class="col-lg-3 col-xs-6 pdl0 pdr0 client-parent">
                    <div class="single-client">
                        <div class="company-logo">
                            <img src="/assets/images/client/1.png" class="img-responsive" alt="logo">
                        </div>
                        <div class="company-name">
                            <h5 class="red">DRAGON SAFETY</h5>
                            <span>all life matters </span>
                        </div>
                    </div><!--/.single-client-->
                </div>
            </div>
        </div>
    </div>
</section>
