<section class="slider-area">
    <div class="slider-carousel" (swipeleft)="swiped($event.type)" (swiperight)="swiped($event.type)">
        <div class="single-item" *ngIf="currentSlide === 1" [@changeSlideLeft]="animationState">
            <img src="/assets/images/basaksanat-slider-1.png" alt="First slide">
           <div class="overlay"></div>
            <div class="container-parent">
                <div class="container">
                    <div class="sune-carousel-caption">
                       <h1>
                       <span class="everyone">Çocukların Kentteki Fırsatlara
                       <span class="subheading">Eşitçe Ulaşması için Bağışta Bulunabilirsiniz.</span></span></h1>
                        <p>Göç yoluyla İstanbul’a gelmiş çocukların şehire eşit  katılabilmeleri için yürüttüğümüz sanat atölyelerine destek olmak ister misiniz?</p>
                        <a routerLink="/duyurular/1" class="more-stories">Bağış Yap <i class="ion-android-arrow-forward"></i></a>
                    </div>
                </div>
            </div>
        </div><!--/.single-item -->
        <div class="single-item" *ngIf="currentSlide === 2" [@changeSlideLeft]="animationState">
            <img src="/assets/images/basaksanat-slider-2.png" alt="First slide">
           <div class="overlay"></div>
            <div class="container-parent">
                <div class="container">
                    <div class="sune-carousel-caption">
                       <h1>
                       <span class="everyone">Çocukların Kente Eşit Katılımına
                       <span class="subheading">Destek Olmak İstemez Misiniz?</span></span></h1>
                        <p>Göç deneyimi yaşamış çocukların ve gençlerin şehire uyumlarına destek olmak amacıyla yürüttüğümüz psiko-sosyal ve eğitsel çalışmaların bir parçası olmak isterseniz bize ulaşabilirsiniz.</p>
                        <a routerLink="/gonullu-olun" class="more-stories">Gönüllü Ol <i class="ion-android-arrow-forward"></i></a>
                    </div>
                </div>
            </div>
        </div><!--/.single-item -->
        <div class="single-item" *ngIf="currentSlide === 3" [@changeSlideLeft]="animationState">
            <img src="/assets/images/basaksanat-slider-3.png" alt="First slide">
           <div class="overlay"></div>
            <div class="container-parent">
                <div class="container">
                    <div class="sune-carousel-caption">
                       <h1>
                       <span class="everyone">Erişilebilir Sanat
                       <span class="subheading">Başak Kültür ve Sanat Vakfı</span></span></h1>
                        <p>Başak Kültür ve Sanat Vakfı iç göç deneyimi yaşamış ve kırılgan bölgelerde yaşayan çocuk ve gençlerin eğitime adil şartlarda erişimi ve gelişimlerinin önündeki engellerinin kaldırılması amacıyla 2003 yılından beri hak temelli çalışmalar yürütmektedir.</p>
                        <a routerLink="/tarihce" class="more-stories">Tarihçemiz <i class="ion-android-arrow-forward"></i></a>
                    </div>
                </div>
            </div>
        </div><!--/.single-item -->
    </div>
</section>
